@{
    ViewBag.Title = "Customer Card Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/customercardrequest")

<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-credit-card"></i> Card Request Management</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a><i class="fa fa-credit-card"></i> Card Request Management</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a class="bread-current"> Card Request</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wgreen">
                    <div class="widget-head">
                        <div class="pull-left">Request for Card</div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">
                            <br />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Request Type</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" id="requestType" title="Request Type" required onchange="requestTypeOnChanged()">
                                            <option value="">Select Request Type</option>
                                            <option value="1">With Serial Number</option>
                                            <option value="2">Without Serial Number</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group hideControl" id="cardTypeBlock">
                                    <label class="col-lg-2 control-label">Card Type</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" id="cardType" title="Card Type" required>
                                            <option value="">Select Card Type</option>
                                            <option value="1">MasterCard</option>
                                            <option value="2">Verve</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group hideControl" id="accountBlock">
                                    <label class="control-label col-lg-2" for="username">Account Number</label>
                                    <div class="col-lg-5">
                                        <input type="number" class="form-control" id="accountNumber" placeholder="Enter your account number" title="Account Number">
                                    </div>
                                </div>
                                <div class="form-group hideControl" id="serialNumberBlock">
                                    <label class="control-label col-lg-2" for="username">Serial Number</label>
                                    <div class="col-lg-5">
                                        <input type="number" class="form-control" id="serialNumber" placeholder="Enter your serial number" title="Serial Number">
                                    </div>
                                </div>
                                <div class="col-lg-offset-2 col-lg-6">
                                    <button id="addBtn" onclick="requestCard()" type="submit" class="btn btn-info btn-sm">Request</button>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="widget-foot">
                            Request for card.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
