
@{
    ViewBag.Title = "Add Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/addbranch")

<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-bank"></i> Branch Management</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a><i class="fa fa-bank"></i> Branch Management</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a class="bread-current"> Add Branch</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="widget wgreen">

                    <div class="widget-head">
                        <div class="pull-left">Add Branch</div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <br />
                            <!-- Form starts.  -->
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" title="Branch Name" placeholder="Enter Branch Name" id="branchName" autofocus="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Code</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" title="Branch Code" placeholder="Enter Branch Code" id="branchCode" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Address</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" title="Branch Address" placeholder="Enter Branch Address" id="branchAddress" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <button id="addBtn" type="button" class="btn btn-outline btn-primary" onclick="addBranch()"><i class="fa fa-cog"></i> Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        Add new system branch.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


