@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common_libraries")
    @Scripts.Render("~/bundles/forgotpassword")
</head>
<body>

    <!-- Form area -->
    <div class="admin-form">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <!-- Widget starts -->
                    <div class="widget worange">
                        <!-- Widget head -->
                        <div class="widget-head">
                            <i class="fa fa-lock"></i> Forgot Password?
                        </div>

                        <div class="widget-content">
                            <div class="padd">
                                <!-- Login form -->
                                <div class="form-horizontal">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="username">Username</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="username" placeholder="Username">
                                        </div>
                                    </div>

                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button id="addBtn" onclick="retrievePassword()" type="submit" class="btn btn-info btn-sm"><i class="fa fa-user"></i> Retrieve</button>
                                    </div>
                                    <br />
                                </div>

                            </div>
                        </div>

                        <div class="widget-foot">
                            <span style="font-family:Calibri;font-weight:bold;color:navy">Get a new password</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

