@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login In</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common_libraries")
</head>
<body>

    <!-- Form area -->
    <div class="admin-form">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <!-- Widget starts -->
                    <div class="widget worange">
                        <!-- Widget head -->
                        <div class="widget-head">
                            <i class="fa fa-lock"></i> Sign In
                        </div>

                        <div class="widget-content">
                            <div class="padd">
                                <!-- Login form -->
                                <div class="form-horizontal">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="username">Username</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="username" placeholder="Username">
                                        </div>
                                    </div>
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="password">Password</label>
                                        <div class="col-lg-9">
                                            <input type="password" class="form-control" id="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <!-- Remember me checkbox and sign in button -->

                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button id="updateBtn" onclick="LoginIn()" type="submit" class="btn btn-info btn-sm">Sign In</button>
                                    </div>
                                    <br />
                                </div>

                            </div>
                        </div>

                        <div class="widget-foot">
                            Forgot Password? <a href="../Password/ForgotPassword">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
